<div class="album py-5">
    <div class="container">
        <h1><%= t('navbar.cart')%></h1>
        <hr class="mt-2 mb-4">
        <div class="table-responsive-lg"> 
             <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="table-dark align-middle fs-3">
                        <th scope="col" class="text-start"> <%= t('product.show.number')%></th>
                        <th scope="col" class="text-center" ><%= t('product.show.product')%></th>
                        <th scope="col" class="text-center"><%= t('product.show.category')%></th>
                        <th scope="col" class="text-center"><%= t('product.show.count')%></th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each_with_index do |product, i| %>
                        <tr>
                            <th scope="row" class="col-md-1 align-middle"><%= i + 1 %></th>
                            <td class="col-md-4 text-center"><%= product.name %></td>
                            <td class="col-md-4 text-center"><%= product.category %></td>
                            <td class="col-md-2 text-center"><%= count_products(product) %></td>
                            <td class="col-md-1 text-center">
                                <%= link_to 'Удалить' %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

